/***********************************
 * 下拉刷新的各种皮肤的样式
 * @author dailc
 * 目前skin:default,type1 是基于Mui的css的，其它皮肤都是独立的css与资源
 * *******************************************
 */


/**
 * 通用样式
 */

.hidden {
	/*因为需要占位*/
	visibility: hidden;
}

.pull-top-pocket,
.pull-bottom-pocket {
	width: 100%;
	height: 74px;
	font-weight: bold;
	font-size: 0.8em;
	background: inherit;
	overflow: hidden;
}

.pull-block {
	text-align: center;
}


/*文本*/
.pull-caption {
	display: inline-block;
	margin-left: 5px;
	text-align: center;
	vertical-align: middle;
	color: #777;
}


/**
 * 皮肤type2
 * 效果: 用到一张网上的图片资源作为
 */


/*默认的icon样式*/
.pulltorefresh-type2 .pull-top-pocket .pull-loading-icon,
.pull-bottom-pocket.loading .pull-loading-icon{
	display: inline-block;
	vertical-align: middle;
	opacity: 0.5;
	width: 40px;
	height: 40px;
	background: url(../img/img_pulltorefresh_skin2_1.png) 0 0 no-repeat;
	-webkit-background-size: 40px 80px;
	-ms-background-size: 40px 80px;
	background-size: 40px 80px;
	-webkit-transition-property: -webkit-transform;
	-ms-transition-property: -webkit-transform;
	-webkit-transition-duration: 250ms;
	-ms-transition-duration: 250ms
}


/*上拉pocket需要变化下*/
.pulltorefresh-type2 .pull-top-pocket .pull-loading-icon {
	-webkit-transform: rotate(0deg) translateZ(0);
	-ms-transform: rotate(0deg) translateZ(0)
}


/*反转过来的icon*/
.pulltorefresh-type2 .pull-top-pocket.flip .pull-loading-icon {
	-webkit-transform: rotate(-180deg) translateZ(0);
	-ms-transform: rotate(-180deg) translateZ(0)
}


/*刷新成功的icon*/

.pulltorefresh-type2 .pull-top-pocket.success .pull-loading-icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../img/img_pulltorefresh_skin2_3.png) 0 0 no-repeat;
}


/*刷新失败的icon*/

.pulltorefresh-type2 .pull-top-pocket.error .pull-loading-icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../img/img_pulltorefresh_skin2_2.png) 0 0 no-repeat;
}


/*上拉和下拉通用的loading*/

.pulltorefresh-type2 .loading .pull-loading-icon,
.pull-bottom-pocket.loading .pull-loading-icon {
	background-position: 0 100%;
	-webkit-transform: rotate(0deg) translateZ(0);
	-ms-transform: rotate(0deg) translateZ(0);
	-webkit-transition-duration: 0ms;
	-ms-transition-duration: 0ms;
	-webkit-animation-name: loading;
	-ms-animation-name: loading;
	-webkit-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-ms-animation-timing-function: linear
}


/*没有更多数据的icon*/

.pull-bottom-pocket.nomore .pull-loading-icon {
	display: none;
}


/*皮肤3，canvas做下拉刷新动画，上拉加载仍然是上面的loading*/


/*冲定义下拉的loading为一个canvas*/

.pulltorefresh-type3 .pull-top-pocket .pull-loading-icon {
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -50px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	/*默认一个较高的zindex*/
	z-index: 100;
}


/*重写caption定位位置*/

.pulltorefresh-type3 .pull-top-pocket .pull-caption {
	position: absolute;
	top: 10px;
	left: 50%;
	line-height: 40px;
}

.pulltorefresh-type3 .pull-top-canvas {
	overflow: hidden;
	background-color: #fafafa;
	border-radius: 40px;
	box-shadow: 0 4px 10px #bbb;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}

.pulltorefresh-type3 .pull-top-canvas canvas {
	width: 40px;
}

@-webkit-keyframes loading {
	from {
		-webkit-transform: rotate(0deg) translateZ(0)
	}
	to {
		-webkit-transform: rotate(360deg) translateZ(0)
	}
}

@-ms-keyframes loading {
	from {
		-ms-transform: rotate(0deg) translateZ(0)
	}
	to {
		-ms-transform: rotate(360deg) translateZ(0)
	}
}


/*皮肤4，饼状图，弹性球等一系列*/

.pulltorefresh-type4 .pull-top-pocket {
	position: absolute;
	height: 100%;
}

.pulltorefresh-type4 .pull-top-pocket .pull-caption {
	position: absolute;
    top: 40px;
    width: 100%;
    margin-left: 0px;
    line-height: 40px;
    color: #d00324;
    text-align: center;
}

/*上拉的icon*/
.pulltorefresh-type4 .pie-anim-container {
	position: absolute;
	width: 100%;
}

.pie-anim-container .pie {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 50%;
	top: 50%;
	margin-left: -20px;
	margin-top: -20px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	background: #d00324;
	color: #f2f3f4;
}

.pie-anim-container .left-pie {
	display: block;
	background: currentColor;
	position: #d00324;
	left: 0;
	top: 0;
	height: 100%;
	border-radius: 100% 0 0 100% / 50%;
	border-width: 0;
	width: 50%;
	transform-origin: left;
	-webkit-transform-origin: left;
	-moz-transform-origin: left;
}

.pie-anim-container .anim-pie {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	display: block;
	border-width: 0;
	border-radius: 100% 0 0 100% / 50%;
	-webkit-border-radius: 100% 0 0 100% / 50%;
	background: #d00324;
	transform-origin: right;
	-webkit-transform-origin: right;
	-moz-transform-origin: right;
}

.pie-anim-container .fresh-progress {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 24px;
	height: 24px;
	display: block;
	margin-left: -12px;
	margin-top: -12px;
	border: 3px solid transparent;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	border-right-color: white;
	border-top-color: white;
	border-left-color: white;
	border-left: 2px;
	z-index: 10;
}

.pie-anim-container .progress-arrow {
	position: absolute;
	bottom: -4px;
	right: -1px;
	width: 0px;
	height: 0px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid white;
	transform: rotate(-48deg);
	-webkit-transform: rotate(-48deg);
	-moz-transform: rotate(-48deg);
}

.pie-anim-container .error-tips {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -7px;
	margin-top: -15px;
	opacity: 0;
}

.pie-anim-container .error-tips .txt {
	color: white;
}

.pie-anim-container .error-tips .left.txt {
	margin-left: -5px;
}

.pie-anim-container .error-tips .right.txt {
	margin-left: 10px;
}

.pie-anim-container .moon {
	position: absolute;
	left: -2px;
	top: 22px;
	width: 18px;
	height: 18px;
	border-radius: 38%;
	-webkit-border-radius: 38%;
	box-shadow: 0 -3px 0 0 white;
	-webkit-box-shadow: 0 -3px 0 0 white;
}

.pie-anim-container .success-tips {
	opacity: 0;
}

.pie-anim-container .arrow-left {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	margin-left: -7px;
	margin-top: -11px;
	border-top: 10px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid white;
	transform: rotate(-88deg);
	-webkit-transform: rotate(-88deg);
	-moz-transform: rotate(-88deg);
}

.pie-anim-container .arrow-right {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	margin-left: -9px;
	margin-top: -17px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid #d00324;
	transform: rotate(-88deg);
	-webkit-transform: rotate(-88deg);
	-moz-transform: rotate(-88deg);
}

@keyframes progressrotate {
	0% {
		-webkit-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		-moz-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotateZ(360deg);
		transform: rotateZ(360deg);
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes progressrotate {
	0% {
		-webkit-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
		-moz-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotateZ(360deg);
		transform: rotateZ(360deg);
		-moz-transform: rotate(360deg);
	}
}


/*pie anim 的 index动画*/

@keyframes piebackground {
	0% {
		background: #d00324;
	}
	100% {
		background: currentcolor;
	}
}


/*需单独兼容webkit内核*/

@-webkit-keyframes piebackground {
	0% {
		background: #d00324;
	}
	100% {
		background: currentcolor;
	}
}


/*pie anim 的 index动画*/

@keyframes pieanimaindex {
	0% {
		z-index: 10;
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
	}
	50% {
		z-index: 0;
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
	}
	100% {
		z-index: 0;
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}
}

@-webkit-keyframes pieanimaindex {
	0% {
		z-index: 10;
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
	}
	50% {
		z-index: 0;
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
	}
	100% {
		z-index: 0;
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}
}

/*皮肤-mui type
 * 包括type1和type2都有用到这些样式
 * */
.pulltorefresh-mui-type .mui-pull-top-tips {
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -25px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	/*默认一个较高的zindex*/
	z-index: 100;
}

.pulltorefresh-mui-type .mui-bar~.mui-pull-top-tips {
	top: 24px;
}

.pulltorefresh-mui-type .mui-pull-top-wrapper {
	width: 42px;
	height: 42px;
	display: block;
	text-align: center;
	background-color: #efeff4;
	border: 1px solid #ddd;
	border-radius: 25px;
	background-clip: padding-box;
	box-shadow: 0 4px 10px #bbb;
	overflow: hidden;
}

.pulltorefresh-mui-type .mui-pull-top-tips.mui-transitioning {
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}

.pulltorefresh-mui-type .mui-pull-top-tips .mui-pull-loading {
	/*-webkit-backface-visibility: hidden;
				-webkit-transition-duration: 400ms;
				transition-duration: 400ms;*/
	margin: 0;
}

.pulltorefresh-mui-type .mui-pull-top-wrapper .mui-icon,
.pulltorefresh-mui-type .mui-pull-top-wrapper .mui-spinner {
	margin-top: 7px;
}

.pulltorefresh-mui-type .mui-pull-top-wrapper .mui-icon.mui-reverse {
	/*-webkit-transform: rotate(180deg) translateZ(0);*/
}

.pulltorefresh-mui-type .mui-pull-bottom-tips {
	text-align: center;
	background-color: inherit;
	font-size: 15px;
	line-height: 40px;
	color: #777;
}

.pulltorefresh-mui-type .mui-pull-top-canvas {
	overflow: hidden;
	background-color: #fafafa;
	border-radius: 40px;
	box-shadow: 0 4px 10px #bbb;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}

.pulltorefresh-mui-type .mui-pull-top-canvas canvas {
	width: 40px;
}


/**
 * ejs type
 * 在ejs，钉钉下 使用了原生的下拉刷新，并且重新生成了加载更多 是以下样式
 */
.pulltorefresh-native-type .mui-pull-bottom-tips {
	position: relative;
	height: auto;
	width: 100%;
	background-color: inherit;
	font-size: 15px;
	color: #777;
}		
.pulltorefresh-native-type .mui-pull-bottom-tips .mui-spinner {
	position: absolute;
	top: 0;
	left: 40%;
}	
.pulltorefresh-native-type .mui-pull-bottom-tips .mui-pull-loading {
	position: absolute;
	top: 2px;
	left: 40%;
	margin-left: 30px;
}